<div class="panel">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Список</th>
                <th>
                    <form>
                        <mat-form-field  class="example-form-field" appearance="legacy">
                            <mat-label>Введите цитату</mat-label>
                            <input matInput type ="text" [(ngModel)]="searchValue" name="searchInput">
                            <!--<button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
                              <mat-icon>close</mat-icon>
                            </button>-->
                        </mat-form-field>
                    </form>
                </th>
            </tr>
        </thead>
    </table>
</div>

<div class="panel">
    <table class="table table-striped" *ngFor="let quote of quotes">
        <app-item [quote]="quote"></app-item>
    </table>
</div>
